.container{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    padding: 10px;
    
}
.nav-container{
    /* position:fixed; */

     margin-inline: auto;
     display: flex;
     justify-content: center;
     
     padding-block: calc(var(--spacing) * 4);
     background-color: transparent;
     width: 100%;
     padding: 10px;
     margin-top: 10px;
     /* position: relative; */
}

.nav-container ul{
    display: flex;
    
    gap: 60px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1rem;
    /* padding: 15px; */
   margin:10px 20px;
}


.nav-container ul a{
    cursor: pointer;
    color:white;
    text-decoration: none;
    font-family: var(--ff-primary);
    transition: all .3s linear;
    /* padding: 10px; */
    text-align: center;
    
}
.nav-container ul li{
    padding-bottom: 10px;
    list-style-type: none;
    transform: all .3s linear;
}
.nav-container ul li:hover{
    border-bottom: 2px solid white;
   

}
.nav-container ul li a:hover{
    color: orange;
    padding: 15px;
    
}
.nav-container button{
   
    padding: 8px 32px;
    border-radius: 30px;
   
}

